.add-card {
  cursor: pointer;
  border-radius: 50%;
  background-color: #252525;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4), -5px 0px 10px rgba(0, 0, 0, 0.4);

  width: 70px;
  height: 70px;

  position: fixed;
  bottom: 20px;
  right: 20px;
}
