h2 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 43px;
  line-height: 59px;

  color: #fff;
}

.button-container {
  button:first-of-type {
    margin-right: 12px;
  }
}
