<!-- <div *ngIf="isVisible; else elseMessageBlock">
  <div class="card-container">
    <button class="card card-small" tabindex="0">
      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
      <span>Some Random Name</span>
    </button>
  </div>
</div>

<ng-template #elseMessageBlock>
  <div class="card-container">
    <button class="card card-small bg-blue" tabindex="0">
      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
      <span>Else Random Name</span>
    </button>
  </div>
</ng-template> -->

<div>
  <ul  class="ng-if-switch">
    <li *ngFor="let element of visibleEntries">{{ element }}</li>
  </ul>
</div> 

<!-- <div [ngSwitch]="isVisible">
  <div *ngSwitchCase="true">
    <h2>The value is {{ isVisible }}</h2>
    <div class="ng-if-switch">
      <label class="padding" for="file">Downloading progress:</label>
      <progress id="file" value="32" max="100">32%</progress>
    </div>
  </div>
  <div *ngSwitchCase="false">
    <h2>The value is {{ isVisible }}</h2>

    <div class="ng-if-switch">
      <label class="padding" for="test">Some random input</label>
      <input
        type="text"
        id="test"
        name="Some random test name"
        placeholder="test"
      />
    </div>
  </div>
</div> -->

<div>
  <button type="submit" class="btn btn-success" (click)="setIsVisible()">
    <span *ngIf="isVisible"> Hide</span>
    <span *ngIf="!isVisible"> Show</span>
  </button>
</div>
