<div >
  <div class="flex">
    <div class="note-container">
      <div class="notes-grid" *ngIf="isFormVisible; else elseBlock">
        <div
          class="note"
          *ngFor="let note of notes"
          [style.background-color]="note.color"
        >
          <p class="note-title">
            {{ note.title }}
          </p>
          <p class="note-body">
            {{ note.description }}
          </p>
        </div>
      </div>
      <ng-template #elseBlock>
        <app-notes-form (onNoteSave)="onNoteSubmit($event)"></app-notes-form>
      </ng-template>
    </div>
    <div>
      <button
        type="submit"
        class="btn btn-success"
        (click)="isFormVisible = !isFormVisible"
      >
        Switch to Form
      </button>
    </div>
  </div>
</div>
