/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body {
  background-color: #252525;
  padding: 0 24px;
}

.button {
  cursor: pointer;
  background: #3B3B3B;
  border-radius: 15px;
  padding: 12px;
}
